.hover {
    position: relative;
    color: white !important;
    text-decoration: none !important;
}

.hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 1px;
    background-color: yellow;
    transition: width 0.4s ease-in-out;
}

.hover:hover::after {
    width: 80%;
}

.hover:hover {
    color: yellow !important;
}
