@font-face {
  font-family: 'Anzo1';         
  src: url('./Assets/file.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anzo2';         
  src: url('./Assets/file\ \(1\).woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anzo3';         
  src: url('./Assets/file\ \(2\).woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anzo4';         
  src: url('./Assets/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 html,body {
  overflow: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
 
}
/* Prevent nested scrollbars */
 body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;


}

*{
  box-sizing: border-box;
}


/* Scrollbar Track */
::-webkit-scrollbar {
  width: 10px; /* vertical scrollbar width */
  height: 8px; /* horizontal scrollbar height */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ebf707, #f9d423); /* colorful thumb */
  border-radius: 10px;
}

/* Scrollbar Track Background */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Hover effect on Thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

