.bigtext {
    font-size: 10rem;
    font-family: Anzo2;
}

.card{
    width: 200px;
    height: 200px;
}
#logo{
    height: 80px;
    width: auto;
    margin-top: 20px;
}
.brick-black-text {
  font-size: 5rem;
  font-family: 'Anzo2'; /* Replace with your font */
  color: black;
  padding: 20px 40px;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  text-shadow:
    1px 1px 0 #585858,
    2px 2px 0 #504f4f,
    3px 3px 0 #504f4f,
    4px 4px 0 #605f5f,
    5px 5px 10px rgba(0, 0, 0, 0.6);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover{
   
        transform: scale(1.2);
        transition: .75s;
   
}
.backgroud3{
    min-height: 100vh;
    overflow-y: hidden;
 
}
#page3{
    margin-top: 100px;
}







/* Mobile Devices (up to 576px) */
@media (max-width: 576px) {
    .bigtext {
        font-size: 4rem;
    }
   
}
/* Tablets (577px to 991px) */
@media (min-width: 577px) and (max-width: 991px) {
    .bigtext {
        font-size: 6rem;
    }
    .card{
        width: 200px;
    }
}

@media (min-width: 992px) {
    .bigtext {
        font-size: 9rem;
    }
}



    @keyframes typing {
      from { width: 0 }
      to { width: 10ch }
    }

    @keyframes blink {
      50% { border-color: transparent }
    }

